In [1]:
import pandas as pd
from scipy.io import readsav

In [2]:
omni_1996 = readsav('omni_5min1996.save')
omni_1997 = readsav('omni_5min1997.save')
omni_1998 = readsav('omni_5min1998.save')
omni_1999 = readsav('omni_5min1999.save')
omni_2000 = readsav('omni_5min2000.save')
omni_2001 = readsav('omni_5min2001.save')
omni_2002 = readsav('omni_5min2002.save')
omni_2003 = readsav('omni_5min2003.save')
omni_2004 = readsav('omni_5min2004.save')
omni_2005 = readsav('omni_5min2005.save')
omni_2006 = readsav('omni_5min2006.save')
omni_2007 = readsav('omni_5min2007.save')
omni_2008 = readsav('omni_5min2008.save')
omni_2009 = readsav('omni_5min2009.save')
omni_2010 = readsav('omni_5min2010.save')
omni_2011 = readsav('omni_5min2011.save')
omni_2012 = readsav('omni_5min2012.save')
omni_2013 = readsav('omni_5min2013.save')
omni_2014 = readsav('omni_5min2014.save')
omni_2015 = readsav('omni_5min2015.save')
omni_2016 = readsav('omni_5min2016.save')
omni_2017 = readsav('omni_5min2017.save')

In [3]:
omni_1996

{'year': array([1996, 1996, 1996, ..., 1996, 1996, 1996], dtype=int16),
 'month': array([ 1,  1,  1, ..., 12, 12, 12], dtype=int16),
 'day': array([ 1,  1,  1, ..., 31, 31, 31], dtype=int16),
 'hour': array([ 0,  0,  0, ..., 23, 23, 23], dtype=int16),
 'minute': array([ 0,  5, 10, ..., 45, 50, 55], dtype=int16),
 'bx': array([-2.37, -0.28,  0.19, ...,   nan,   nan,   nan], dtype=float32),
 'by': array([-5.02, -3.99, -3.06, ...,   nan,   nan,   nan], dtype=float32),
 'bz': array([2.53, 4.22, 4.87, ...,  nan,  nan,  nan], dtype=float32),
 'vx': array([-434.5, -424. , -422.4, ...,    nan,    nan,    nan], dtype=float32),
 'vy': array([-7.1,  4.9,  8.5, ...,  nan,  nan,  nan], dtype=float32),
 'vz': array([ 1.9,  7.5, 12.6, ...,  nan,  nan,  nan], dtype=float32),
 'tp': array([80344., 88160., 82038., ...,    nan,    nan,    nan], dtype=float32),
 'xx': array([86.69, 86.69, 86.71, ...,   nan,   nan,   nan], dtype=float32),
 'yy': array([-25.45, -25.45, -25.43, ...,    nan,    nan,    nan], dtype=float32),
 'zz': array([7.04, 7.04, 7.04, ...,  nan,  nan,  nan], dtype=float32),
 'np': array([6.44, 7.02, 6.97, ...,  nan,  nan,  nan], dtype=float32),
 'ae': array([15., 16., 15., ..., 76., 70., 69.], dtype=float32),
 'al': array([ -6.,  -6.,  -6., ..., -28., -17., -14.], dtype=float32),
 'au': array([ 9., 10.,  9., ..., 48., 53., 56.], dtype=float32),
 'symh': array([ -3.,  -2.,  -1., ..., -12.,  -8.,  -8.], dtype=float32),
 'asyh': array([16., 16., 16., ..., 22., 15., 17.], dtype=float32),
 'pc': array([-0.02,  0.18,  0.21, ...,  0.44,  0.28,  0.19], dtype=float32)}

In [4]:
df_1996 = pd.DataFrame(omni_1996, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_1997 = pd.DataFrame(omni_1997, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_1998 = pd.DataFrame(omni_1998, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_1999 = pd.DataFrame(omni_1999, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2000 = pd.DataFrame(omni_2000, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2001 = pd.DataFrame(omni_2001, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2002 = pd.DataFrame(omni_2002, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2003 = pd.DataFrame(omni_2003, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2004 = pd.DataFrame(omni_2004, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2005 = pd.DataFrame(omni_2005, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2006 = pd.DataFrame(omni_2006, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2007 = pd.DataFrame(omni_2007, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2008 = pd.DataFrame(omni_2008, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2009 = pd.DataFrame(omni_2009, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2010 = pd.DataFrame(omni_2010, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2011 = pd.DataFrame(omni_2011, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2012 = pd.DataFrame(omni_2012, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2013 = pd.DataFrame(omni_2013, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2014 = pd.DataFrame(omni_2014, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2015 = pd.DataFrame(omni_2015, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2016 = pd.DataFrame(omni_2016, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])
df_2017 = pd.DataFrame(omni_2017, columns= ['year', 'month', 'day', 'hour', 'minute', 'bx', 'by', 'bz', 'vx', 'vy', 'vz', 'tp', 'xx', 'yy', 'zz', 'np', 'ae', 'al', 'au', 'symh'])

In [5]:
# Concatenate all dataframes into one
df = pd.concat([df_1996, df_1997, df_1998, df_1999, df_2000, df_2001, df_2002, df_2003,\
    df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011, df_2012, df_2013, \
        df_2014, df_2015, df_2016, df_2017], ignore_index=True)
df

,year,month,day,hour,minute,bx,by,bz,vx,vy,vz,tp,xx,yy,zz,np,ae,al,au,symh
0,1996,1,1,0,0,-2.37,-5.02,2.53,-434.500000,-7.1,1.9,80344.0,86.690002,-25.450001,7.04,6.44,15.0,-6.0,9.0,-3.0
1,1996,1,1,0,5,-0.28,-3.99,4.22,-424.000000,4.9,7.5,88160.0,86.690002,-25.450001,7.04,7.02,16.0,-6.0,10.0,-2.0
2,1996,1,1,0,10,0.19,-3.06,4.87,-422.399994,8.5,12.6,82038.0,86.709999,-25.430000,7.04,6.97,15.0,-6.0,9.0,-1.0
3,1996,1,1,0,15,-0.28,-3.12,4.62,-428.100006,6.3,11.3,73441.0,86.709999,-25.410000,7.04,7.29,12.0,-4.0,9.0,-1.0
4,1996,1,1,0,20,-0.76,-3.37,4.57,-431.200012,-0.8,10.5,77651.0,86.720001,-25.400000,7.05,6.60,12.0,-4.0,8.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314363,2017,12,31,23,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2314364,2017,12,31,23,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2314365,2017,12,31,23,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2314366,2017,12,31,23,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2314367,2017,12,31,23,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.dropna()
df

,year,month,day,hour,minute,bx,by,bz,vx,vy,vz,tp,xx,yy,zz,np,ae,al,au,symh
0,1996,1,1,0,0,-2.37,-5.02,2.53,-434.500000,-7.1,1.9,80344.0,86.690002,-25.450001,7.040000,6.44,15.0,-6.0,9.0,-3.0
1,1996,1,1,0,5,-0.28,-3.99,4.22,-424.000000,4.9,7.5,88160.0,86.690002,-25.450001,7.040000,7.02,16.0,-6.0,10.0,-2.0
2,1996,1,1,0,10,0.19,-3.06,4.87,-422.399994,8.5,12.6,82038.0,86.709999,-25.430000,7.040000,6.97,15.0,-6.0,9.0,-1.0
3,1996,1,1,0,15,-0.28,-3.12,4.62,-428.100006,6.3,11.3,73441.0,86.709999,-25.410000,7.040000,7.29,12.0,-4.0,9.0,-1.0
4,1996,1,1,0,20,-0.76,-3.37,4.57,-431.200012,-0.8,10.5,77651.0,86.720001,-25.400000,7.050000,6.60,12.0,-4.0,8.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261371,2017,6,30,23,35,0.93,5.16,-1.35,-347.600006,1.4,11.7,29290.0,238.500000,-38.869999,19.639999,8.04,194.0,-99.0,96.0,6.0
2261372,2017,6,30,23,40,2.47,4.53,0.40,-347.100006,4.1,12.5,31986.0,238.500000,-38.869999,19.639999,7.40,180.0,-88.0,92.0,6.0
2261373,2017,6,30,23,45,1.69,5.26,-0.26,-347.399994,3.1,13.4,32773.0,238.500000,-38.869999,19.629999,7.61,163.0,-74.0,89.0,6.0
2261374,2017,6,30,23,50,1.25,4.49,-2.71,-347.500000,-0.7,10.1,34772.0,238.500000,-38.869999,19.629999,7.94,145.0,-63.0,83.0,5.0
2261375,2017,6,30,23,55,0.48,4.52,-2.80,-347.700012,5.2,9.4,32987.0,238.479996,-38.869999,19.629999,7.35,138.0,-56.0,83.0,7.0

In [7]:
# combine year, month, day, hour, minute into one column
df['date'] = pd.to_datetime(df[['year', 'month', 'day', 'hour', 'minute']])
df = df.drop(['year', 'month', 'day', 'hour', 'minute'], axis=1)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15580\3982288520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df[['year', 'month', 'day', 'hour', 'minute']])

,bx,by,bz,vx,vy,vz,tp,xx,yy,zz,np,ae,al,au,symh,date
0,-2.37,-5.02,2.53,-434.500000,-7.1,1.9,80344.0,86.690002,-25.450001,7.040000,6.44,15.0,-6.0,9.0,-3.0,1996-01-01 00:00:00
1,-0.28,-3.99,4.22,-424.000000,4.9,7.5,88160.0,86.690002,-25.450001,7.040000,7.02,16.0,-6.0,10.0,-2.0,1996-01-01 00:05:00
2,0.19,-3.06,4.87,-422.399994,8.5,12.6,82038.0,86.709999,-25.430000,7.040000,6.97,15.0,-6.0,9.0,-1.0,1996-01-01 00:10:00
3,-0.28,-3.12,4.62,-428.100006,6.3,11.3,73441.0,86.709999,-25.410000,7.040000,7.29,12.0,-4.0,9.0,-1.0,1996-01-01 00:15:00
4,-0.76,-3.37,4.57,-431.200012,-0.8,10.5,77651.0,86.720001,-25.400000,7.050000,6.60,12.0,-4.0,8.0,-1.0,1996-01-01 00:20:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261371,0.93,5.16,-1.35,-347.600006,1.4,11.7,29290.0,238.500000,-38.869999,19.639999,8.04,194.0,-99.0,96.0,6.0,2017-06-30 23:35:00
2261372,2.47,4.53,0.40,-347.100006,4.1,12.5,31986.0,238.500000,-38.869999,19.639999,7.40,180.0,-88.0,92.0,6.0,2017-06-30 23:40:00
2261373,1.69,5.26,-0.26,-347.399994,3.1,13.4,32773.0,238.500000,-38.869999,19.629999,7.61,163.0,-74.0,89.0,6.0,2017-06-30 23:45:00
2261374,1.25,4.49,-2.71,-347.500000,-0.7,10.1,34772.0,238.500000,-38.869999,19.629999,7.94,145.0,-63.0,83.0,5.0,2017-06-30 23:50:00
2261375,0.48,4.52,-2.80,-347.700012,5.2,9.4,32987.0,238.479996,-38.869999,19.629999,7.35,138.0,-56.0,83.0,7.0,2017-06-30 23:55:00

In [8]:
import numpy as np
df['sw_vt'] = np.sqrt(df['vx']**2 + df['vy']**2 + df['vz']**2)
df['Dp'] = df['sw_vt']**2*df['np']*1.6726*10**(-6)
df

,bx,by,bz,vx,vy,vz,tp,xx,yy,zz,np,ae,al,au,symh,date,sw_vt,Dp
0,-2.37,-5.02,2.53,-434.500000,-7.1,1.9,80344.0,86.690002,-25.450001,7.040000,6.44,15.0,-6.0,9.0,-3.0,1996-01-01 00:00:00,434.562164,2.034144
1,-0.28,-3.99,4.22,-424.000000,4.9,7.5,88160.0,86.690002,-25.450001,7.040000,7.02,16.0,-6.0,10.0,-2.0,1996-01-01 00:05:00,424.094635,2.111810
2,0.19,-3.06,4.87,-422.399994,8.5,12.6,82038.0,86.709999,-25.430000,7.040000,6.97,15.0,-6.0,9.0,-1.0,1996-01-01 00:10:00,422.673370,2.082738
3,-0.28,-3.12,4.62,-428.100006,6.3,11.3,73441.0,86.709999,-25.410000,7.040000,7.29,12.0,-4.0,9.0,-1.0,1996-01-01 00:15:00,428.295441,2.236694
4,-0.76,-3.37,4.57,-431.200012,-0.8,10.5,77651.0,86.720001,-25.400000,7.050000,6.60,12.0,-4.0,8.0,-1.0,1996-01-01 00:20:00,431.328583,2.053773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261371,0.93,5.16,-1.35,-347.600006,1.4,11.7,29290.0,238.500000,-38.869999,19.639999,8.04,194.0,-99.0,96.0,6.0,2017-06-30 23:35:00,347.799683,1.626696
2261372,2.47,4.53,0.40,-347.100006,4.1,12.5,31986.0,238.500000,-38.869999,19.639999,7.40,180.0,-88.0,92.0,6.0,2017-06-30 23:40:00,347.349213,1.493332
2261373,1.69,5.26,-0.26,-347.399994,3.1,13.4,32773.0,238.500000,-38.869999,19.629999,7.61,163.0,-74.0,89.0,6.0,2017-06-30 23:45:00,347.672150,1.538568
2261374,1.25,4.49,-2.71,-347.500000,-0.7,10.1,34772.0,238.500000,-38.869999,19.629999,7.94,145.0,-63.0,83.0,5.0,2017-06-30 23:50:00,347.647461,1.605058
2261375,0.48,4.52,-2.80,-347.700012,5.2,9.4,32987.0,238.479996,-38.869999,19.629999,7.35,138.0,-56.0,83.0,7.0,2017-06-30 23:55:00,347.865906,1.487658

In [9]:
df = df.drop(['np', 'tp', 'ae', 'al', 'au', 'symh'], axis=1)
df

,bx,by,bz,vx,vy,vz,xx,yy,zz,date,sw_vt,Dp
0,-2.37,-5.02,2.53,-434.500000,-7.1,1.9,86.690002,-25.450001,7.040000,1996-01-01 00:00:00,434.562164,2.034144
1,-0.28,-3.99,4.22,-424.000000,4.9,7.5,86.690002,-25.450001,7.040000,1996-01-01 00:05:00,424.094635,2.111810
2,0.19,-3.06,4.87,-422.399994,8.5,12.6,86.709999,-25.430000,7.040000,1996-01-01 00:10:00,422.673370,2.082738
3,-0.28,-3.12,4.62,-428.100006,6.3,11.3,86.709999,-25.410000,7.040000,1996-01-01 00:15:00,428.295441,2.236694
4,-0.76,-3.37,4.57,-431.200012,-0.8,10.5,86.720001,-25.400000,7.050000,1996-01-01 00:20:00,431.328583,2.053773
...,...,...,...,...,...,...,...,...,...,...,...,...
2261371,0.93,5.16,-1.35,-347.600006,1.4,11.7,238.500000,-38.869999,19.639999,2017-06-30 23:35:00,347.799683,1.626696
2261372,2.47,4.53,0.40,-347.100006,4.1,12.5,238.500000,-38.869999,19.639999,2017-06-30 23:40:00,347.349213,1.493332
2261373,1.69,5.26,-0.26,-347.399994,3.1,13.4,238.500000,-38.869999,19.629999,2017-06-30 23:45:00,347.672150,1.538568
2261374,1.25,4.49,-2.71,-347.500000,-0.7,10.1,238.500000,-38.869999,19.629999,2017-06-30 23:50:00,347.647461,1.605058
2261375,0.48,4.52,-2.80,-347.700012,5.2,9.4,238.479996,-38.869999,19.629999,2017-06-30 23:55:00,347.865906,1.487658

In [10]:
# calculate the vx vy's angle
df['angle'] = np.arctan2(df['vy']*df['xx'] - df['vz']*df['vy'], df['vx']*df['xx'] + df['vy']*df['yy'] + df['vz']*df['zz'])
df

,bx,by,bz,vx,vy,vz,xx,yy,zz,date,sw_vt,Dp,angle
0,-2.37,-5.02,2.53,-434.500000,-7.1,1.9,86.690002,-25.450001,7.040000,1996-01-01 00:00:00,434.562164,2.034144,-3.125529
1,-0.28,-3.99,4.22,-424.000000,4.9,7.5,86.690002,-25.450001,7.040000,1996-01-01 00:05:00,424.094635,2.111810,3.131057
2,0.19,-3.06,4.87,-422.399994,8.5,12.6,86.709999,-25.430000,7.040000,1996-01-01 00:10:00,422.673370,2.082738,3.124455
3,-0.28,-3.12,4.62,-428.100006,6.3,11.3,86.709999,-25.410000,7.040000,1996-01-01 00:15:00,428.295441,2.236694,3.128823
4,-0.76,-3.37,4.57,-431.200012,-0.8,10.5,86.720001,-25.400000,7.050000,1996-01-01 00:20:00,431.328583,2.053773,-3.139958
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261371,0.93,5.16,-1.35,-347.600006,1.4,11.7,238.500000,-38.869999,19.639999,2017-06-30 23:35:00,347.799683,1.626696,3.137754
2261372,2.47,4.53,0.40,-347.100006,4.1,12.5,238.500000,-38.869999,19.639999,2017-06-30 23:40:00,347.349213,1.493332,3.130388
2261373,1.69,5.26,-0.26,-347.399994,3.1,13.4,238.500000,-38.869999,19.629999,2017-06-30 23:45:00,347.672150,1.538568,3.133156
2261374,1.25,4.49,-2.71,-347.500000,-0.7,10.1,238.500000,-38.869999,19.629999,2017-06-30 23:50:00,347.647461,1.605058,-3.139658
2261375,0.48,4.52,-2.80,-347.700012,5.2,9.4,238.479996,-38.869999,19.629999,2017-06-30 23:55:00,347.865906,1.487658,3.127231

In [11]:
df['angle_deg'] = df['angle']*180/np.pi
df

,bx,by,bz,vx,vy,vz,xx,yy,zz,date,sw_vt,Dp,angle,angle_deg
0,-2.37,-5.02,2.53,-434.500000,-7.1,1.9,86.690002,-25.450001,7.040000,1996-01-01 00:00:00,434.562164,2.034144,-3.125529,-179.079619
1,-0.28,-3.99,4.22,-424.000000,4.9,7.5,86.690002,-25.450001,7.040000,1996-01-01 00:05:00,424.094635,2.111810,3.131057,179.396336
2,0.19,-3.06,4.87,-422.399994,8.5,12.6,86.709999,-25.430000,7.040000,1996-01-01 00:10:00,422.673370,2.082738,3.124455,179.018090
3,-0.28,-3.12,4.62,-428.100006,6.3,11.3,86.709999,-25.410000,7.040000,1996-01-01 00:15:00,428.295441,2.236694,3.128823,179.268324
4,-0.76,-3.37,4.57,-431.200012,-0.8,10.5,86.720001,-25.400000,7.050000,1996-01-01 00:20:00,431.328583,2.053773,-3.139958,-179.906342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261371,0.93,5.16,-1.35,-347.600006,1.4,11.7,238.500000,-38.869999,19.639999,2017-06-30 23:35:00,347.799683,1.626696,3.137754,179.780079
2261372,2.47,4.53,0.40,-347.100006,4.1,12.5,238.500000,-38.869999,19.639999,2017-06-30 23:40:00,347.349213,1.493332,3.130388,179.358043
2261373,1.69,5.26,-0.26,-347.399994,3.1,13.4,238.500000,-38.869999,19.629999,2017-06-30 23:45:00,347.672150,1.538568,3.133156,179.516634
2261374,1.25,4.49,-2.71,-347.500000,-0.7,10.1,238.500000,-38.869999,19.629999,2017-06-30 23:50:00,347.647461,1.605058,-3.139658,-179.889168
2261375,0.48,4.52,-2.80,-347.700012,5.2,9.4,238.479996,-38.869999,19.629999,2017-06-30 23:55:00,347.865906,1.487658,3.127231,179.177109

In [14]:
df['angle_deg'].min()

-180.0000053125203

In [12]:
df.to_csv('OMNI_XYZ.csv', index=False)