In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [75]:
omni = pd.read_csv('OMNI_XYZ.csv')
omni['date'] = pd.to_datetime(omni['date'], format='%Y-%m-%d %H:%M:%S')
omni

,bx,by,bz,vx,vy,vz,xx,yy,zz,date,sw_vt,Dp,angle,angle_deg
0,-2.37,-5.02,2.53,-434.5,-7.1,1.9,86.69,-25.45,7.04,1996-01-01 00:00:00,434.56216,2.034144,-3.125529,-179.079619
1,-0.28,-3.99,4.22,-424.0,4.9,7.5,86.69,-25.45,7.04,1996-01-01 00:05:00,424.09464,2.111810,3.131057,179.396336
2,0.19,-3.06,4.87,-422.4,8.5,12.6,86.71,-25.43,7.04,1996-01-01 00:10:00,422.67337,2.082738,3.124455,179.018090
3,-0.28,-3.12,4.62,-428.1,6.3,11.3,86.71,-25.41,7.04,1996-01-01 00:15:00,428.29544,2.236694,3.128823,179.268324
4,-0.76,-3.37,4.57,-431.2,-0.8,10.5,86.72,-25.40,7.05,1996-01-01 00:20:00,431.32858,2.053773,-3.139958,-179.906342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095967,0.93,5.16,-1.35,-347.6,1.4,11.7,238.50,-38.87,19.64,2017-06-30 23:35:00,347.79968,1.626696,3.137754,179.780079
2095968,2.47,4.53,0.40,-347.1,4.1,12.5,238.50,-38.87,19.64,2017-06-30 23:40:00,347.34920,1.493332,3.130389,179.358043
2095969,1.69,5.26,-0.26,-347.4,3.1,13.4,238.50,-38.87,19.63,2017-06-30 23:45:00,347.67215,1.538568,3.133156,179.516634
2095970,1.25,4.49,-2.71,-347.5,-0.7,10.1,238.50,-38.87,19.63,2017-06-30 23:50:00,347.64746,1.605058,-3.139658,-179.889168
2095971,0.48,4.52,-2.80,-347.7,5.2,9.4,238.48,-38.87,19.63,2017-06-30 23:55:00,347.86590,1.487658,3.127231,179.177109

In [76]:
themis = pd.read_csv('themis.csv')
themis

,TIMESTAMP,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,PROBE
0,2007-04-21T23:35:24Z,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,a
1,2007-04-21T23:35:24Z,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,a
2,2007-04-21T21:01:06Z,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,a
3,2007-04-24T12:48:05Z,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,a
4,2007-04-24T12:58:20Z,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,a
...,...,...,...,...,...,...,...,...
33941,2016-10-26T17:17:19Z,2.50993,-10.2511,-3.86383,2.50993,-10.9445,-0.481395,e
33942,2016-10-27T15:22:10Z,1.43803,-10.9620,-4.32748,1.43803,-11.7830,0.231988,e
33943,2016-10-27T17:20:24Z,2.38412,-10.2573,-3.83891,2.38412,-10.9397,-0.521349,e
33944,2016-10-27T15:22:44Z,1.44640,-10.9582,-4.32419,1.44640,-11.7784,0.225367,e
33945,2016-10-27T15:28:15Z,1.48819,-10.9387,-4.30752,1.48819,-11.7547,0.192192,e

In [77]:
# transform the themis['TIMESTAMP']'s format to omni['TIMESTAMP']'s format like YYYY-MM-DD HH:MM:SS
themis['TIMESTAMP'] = pd.to_datetime(themis['TIMESTAMP'], format='%Y-%m-%d %H:%M:%S')
themis['TIMESTAMP'] = themis['TIMESTAMP'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))
themis = themis.drop_duplicates(subset=['TIMESTAMP'], keep='first')
themis = themis.rename(columns={'TIMESTAMP': 'date'})
themis['date'] = pd.to_datetime(themis['date'], format='%Y-%m-%d %H:%M:%S')
themis

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,PROBE
0,2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,a
2,2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,a
3,2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,a
4,2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,a
5,2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,a
...,...,...,...,...,...,...,...,...
33941,2016-10-26 17:17:19,2.50993,-10.2511,-3.86383,2.50993,-10.9445,-0.481395,e
33942,2016-10-27 15:22:10,1.43803,-10.9620,-4.32748,1.43803,-11.7830,0.231988,e
33943,2016-10-27 17:20:24,2.38412,-10.2573,-3.83891,2.38412,-10.9397,-0.521349,e
33944,2016-10-27 15:22:44,1.44640,-10.9582,-4.32419,1.44640,-11.7784,0.225367,e
33945,2016-10-27 15:28:15,1.48819,-10.9387,-4.30752,1.48819,-11.7547,0.192192,e

In [78]:
omni.dtypes, themis.dtypes

(bx                  float64
 by                  float64
 bz                  float64
 vx                  float64
 vy                  float64
 vz                  float64
 xx                  float64
 yy                  float64
 zz                  float64
 date         datetime64[ns]
 sw_vt               float64
 Dp                  float64
 angle               float64
 angle_deg           float64
 dtype: object,
 date     datetime64[ns]
 X_GSE           float64
 Y_GSE           float64
 Z_GSE           float64
 X_GSM           float64
 Y_GSM           float64
 Z_GSM           float64
 PROBE            object
 dtype: object)

In [79]:
omni_indexed = omni.set_index('date')
omni_indexed

,bx,by,bz,vx,vy,vz,xx,yy,zz,sw_vt,Dp,angle,angle_deg
date,,,,,,,,,,,,,
1996-01-01 00:00:00,-2.37,-5.02,2.53,-434.5,-7.1,1.9,86.69,-25.45,7.04,434.56216,2.034144,-3.125529,-179.079619
1996-01-01 00:05:00,-0.28,-3.99,4.22,-424.0,4.9,7.5,86.69,-25.45,7.04,424.09464,2.111810,3.131057,179.396336
1996-01-01 00:10:00,0.19,-3.06,4.87,-422.4,8.5,12.6,86.71,-25.43,7.04,422.67337,2.082738,3.124455,179.018090
1996-01-01 00:15:00,-0.28,-3.12,4.62,-428.1,6.3,11.3,86.71,-25.41,7.04,428.29544,2.236694,3.128823,179.268324
1996-01-01 00:20:00,-0.76,-3.37,4.57,-431.2,-0.8,10.5,86.72,-25.40,7.05,431.32858,2.053773,-3.139958,-179.906342
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-30 23:35:00,0.93,5.16,-1.35,-347.6,1.4,11.7,238.50,-38.87,19.64,347.79968,1.626696,3.137754,179.780079
2017-06-30 23:40:00,2.47,4.53,0.40,-347.1,4.1,12.5,238.50,-38.87,19.64,347.34920,1.493332,3.130389,179.358043
2017-06-30 23:45:00,1.69,5.26,-0.26,-347.4,3.1,13.4,238.50,-38.87,19.63,347.67215,1.538568,3.133156,179.516634
2017-06-30 23:50:00,1.25,4.49,-2.71,-347.5,-0.7,10.1,238.50,-38.87,19.63,347.64746,1.605058,-3.139658,-179.889168
2017-06-30 23:55:00,0.48,4.52,-2.80,-347.7,5.2,9.4,238.48,-38.87,19.63,347.86590,1.487658,3.127231,179.177109

In [80]:
results = []

for index, row in themis.iterrows():
    timestamp = row['date']
    start_time = timestamp - pd.Timedelta(minutes=5)
    end_time = timestamp + pd.Timedelta(minutes=5)
    omni_subset = omni_indexed.loc[start_time:end_time]
    if len(omni_subset) > 0:
        bx_avg = omni_subset['bx'].mean()
        by_avg = omni_subset['by'].mean()
        bz_avg = omni_subset['bz'].mean()
        dp_avg = omni_subset['Dp'].mean()
        angle =  omni_subset['angle'].mean()
        vt = omni_subset['sw_vt'].mean()
        result = {'date': timestamp, 'Bx': bx_avg, 'By': by_avg, 'Bz': bz_avg, 'Dp': dp_avg, 'angle' : angle, 'vt' : vt}
        results.append(result)

In [81]:
results = pd.DataFrame(results)
results

                     date     Bx     By     Bz        Dp     angle          vt
0     2007-04-21 23:35:24  2.020 -1.250  1.325  1.541882  3.108656  292.014935
1     2007-04-21 21:01:06  2.435  0.925  0.735  1.684761  3.101008  293.478225
2     2007-04-24 12:48:05  3.570  1.725  0.555  1.636927 -3.096254  431.592890
3     2007-04-24 12:58:20  3.245  1.760  1.095  1.821343 -3.091749  432.740825
4     2007-04-24 15:34:45 -1.345  0.865  0.770  1.620260 -3.100665  432.654480
...                   ...    ...    ...    ...       ...       ...         ...
26789 2016-10-26 17:17:19 -2.640  0.295 -3.390  2.209831  3.106262  648.599650
26790 2016-10-27 15:22:10 -0.370  1.470 -5.340  2.027462 -3.128242  587.728360
26791 2016-10-27 17:20:24 -5.120  2.115  0.530  1.292748 -3.130997  542.621475
26792 2016-10-27 15:22:44 -0.370  1.470 -5.340  2.027462 -3.128242  587.728360
26793 2016-10-27 15:28:15 -0.790  1.540 -5.240  1.934606 -3.125443  585.782255

[26794 rows x 7 columns]

In [82]:
# combine themis and results
themis = themis.set_index('date')
themis = themis.join(results.set_index('date'))
themis

,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,PROBE,Bx,By,Bz,Dp,angle,vt
date,,,,,,,,,,,,,
2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,a,2.020,-1.250,1.325,1.541882,3.108656,292.014935
2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,a,2.435,0.925,0.735,1.684761,3.101008,293.478225
2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,a,3.570,1.725,0.555,1.636927,-3.096254,431.592890
2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,a,3.245,1.760,1.095,1.821343,-3.091749,432.740825
2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,a,-1.345,0.865,0.770,1.620260,-3.100665,432.654480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-10-26 17:17:19,2.50993,-10.2511,-3.86383,2.50993,-10.9445,-0.481395,e,-2.640,0.295,-3.390,2.209831,3.106262,648.599650
2016-10-27 15:22:10,1.43803,-10.9620,-4.32748,1.43803,-11.7830,0.231988,e,-0.370,1.470,-5.340,2.027462,-3.128242,587.728360
2016-10-27 17:20:24,2.38412,-10.2573,-3.83891,2.38412,-10.9397,-0.521349,e,-5.120,2.115,0.530,1.292748,-3.130997,542.621475
2016-10-27 15:22:44,1.44640,-10.9582,-4.32419,1.44640,-11.7784,0.225367,e,-0.370,1.470,-5.340,2.027462,-3.128242,587.728360
2016-10-27 15:28:15,1.48819,-10.9387,-4.30752,1.48819,-11.7547,0.192192,e,-0.790,1.540,-5.240,1.934606,-3.125443,585.782255

In [83]:
themis.to_csv('themis_omni.csv', index=True)

# Geo-Tail

In [84]:
# since geo-tails UT is in a format of 2.2267, 2.2400, 13.0467 and we like to transform it to HH:MM:SS
geo_tail = pd.read_csv('deep_tail.csv')
def transform_UT_to_HHMMSS(UT):
    hour = int(UT)
    minute = int((UT - hour) * 60)
    second = int((((UT - hour) * 60) - minute) * 60)
    return str(hour).zfill(2) + ':' + str(minute).zfill(2) + ':' + str(second).zfill(2)

geo_tail['UT'] = geo_tail['UT'].apply(transform_UT_to_HHMMSS)
geo_tail['date'] = geo_tail['YYYYMMDD'].astype(str) + ' ' + geo_tail['UT'].astype(str)
geo_tail['date'] = pd.to_datetime(geo_tail['date'], format='%Y%m%d %H:%M:%S')
geo_tail = geo_tail.drop(columns=['YYYYMMDD', 'UT'])
geo_tail

,XGSE,YGSE,ZGSE,XGSM,YGSM,ZGSM,Vx,Vy,Vz,Bx,By,Bz,N,T,date
0,9.5089,2.8692,1.0609,9.5089,2.5432,1.7000,29.3986,74.4421,11.472,-2.3993,-15.6361,38.8683,10.9494,609.7466,1996-01-03 02:13:36
1,9.5000,2.8924,1.0553,9.5000,2.5670,1.7000,42.5367,-55.5367,-194.0233,-5.4237,9.1019,61.7212,0.7203,2428.0703,1996-01-03 02:14:24
2,1.2600,14.4207,-0.1784,1.2600,14.3372,-1.5600,-345.6333,284.1887,108.0779,3.5178,-1.9507,20.7269,3.8927,799.7855,1996-01-03 11:46:11
3,1.2473,14.4290,-0.1776,1.2473,14.3455,-1.5600,-207.9879,177.559,81.5831,-18.1244,16.1197,14.4713,3.0053,912.4281,1996-01-03 11:46:59
4,-0.1640,15.2297,-0.3006,-0.1640,15.1700,-1.3800,-11.1554,11.8979,53.4734,-11.0897,15.5402,14.9824,0.2045,7515.7397,1996-01-03 13:02:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5953,7.2400,-8.5454,3.2632,7.2400,-8.7700,2.6000,-318.6387,-104.2372,25.938,-0.7466,-2.6072,-20.9435,2.1888,269.9863,2015-12-24 17:36:35
5954,7.3200,-8.5140,3.2808,7.3200,-8.7400,2.6200,-143.0333,-57.722,50.4555,-2.1791,-24.6572,0.3432,15.3729,500.6686,2015-12-24 17:40:23
5955,8.5004,-8.1616,4.1344,8.5004,-8.9300,1.9900,-9.9549,5.0135,-18.991,-11.9824,-14.6573,39.0437,0.3010,907.0810,2015-12-29 23:53:24
5956,8.5400,-8.1470,4.1513,8.5400,-8.9200,2.0100,-9.966,5.0102,-18.9932,-10.1955,-18.3897,39.7947,0.3010,907.0386,2015-12-29 23:55:00
5957,8.5500,-8.1342,4.1607,8.5500,-8.9100,2.0223,-9.9715,5.0085,-18.9943,7.5379,22.2904,5.0904,0.3010,907.0175,2015-12-29 23:55:47

In [85]:
# use the same approach to combine omni and geo_tail
omni_indexed = omni.set_index('date')
omni_indexed

,bx,by,bz,vx,vy,vz,xx,yy,zz,sw_vt,Dp,angle,angle_deg
date,,,,,,,,,,,,,
1996-01-01 00:00:00,-2.37,-5.02,2.53,-434.5,-7.1,1.9,86.69,-25.45,7.04,434.56216,2.034144,-3.125529,-179.079619
1996-01-01 00:05:00,-0.28,-3.99,4.22,-424.0,4.9,7.5,86.69,-25.45,7.04,424.09464,2.111810,3.131057,179.396336
1996-01-01 00:10:00,0.19,-3.06,4.87,-422.4,8.5,12.6,86.71,-25.43,7.04,422.67337,2.082738,3.124455,179.018090
1996-01-01 00:15:00,-0.28,-3.12,4.62,-428.1,6.3,11.3,86.71,-25.41,7.04,428.29544,2.236694,3.128823,179.268324
1996-01-01 00:20:00,-0.76,-3.37,4.57,-431.2,-0.8,10.5,86.72,-25.40,7.05,431.32858,2.053773,-3.139958,-179.906342
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-30 23:35:00,0.93,5.16,-1.35,-347.6,1.4,11.7,238.50,-38.87,19.64,347.79968,1.626696,3.137754,179.780079
2017-06-30 23:40:00,2.47,4.53,0.40,-347.1,4.1,12.5,238.50,-38.87,19.64,347.34920,1.493332,3.130389,179.358043
2017-06-30 23:45:00,1.69,5.26,-0.26,-347.4,3.1,13.4,238.50,-38.87,19.63,347.67215,1.538568,3.133156,179.516634
2017-06-30 23:50:00,1.25,4.49,-2.71,-347.5,-0.7,10.1,238.50,-38.87,19.63,347.64746,1.605058,-3.139658,-179.889168
2017-06-30 23:55:00,0.48,4.52,-2.80,-347.7,5.2,9.4,238.48,-38.87,19.63,347.86590,1.487658,3.127231,179.177109

In [86]:
results = []

for index, row in geo_tail.iterrows():
    timestamp = row['date']
    start_time = timestamp - pd.Timedelta(minutes=5)
    end_time = timestamp + pd.Timedelta(minutes=5)
    omni_subset = omni_indexed.loc[start_time:end_time]
    if len(omni_subset) > 0:
        bx_avg = omni_subset['bx'].mean()
        by_avg = omni_subset['by'].mean()
        bz_avg = omni_subset['bz'].mean()
        dp_avg = omni_subset['Dp'].mean()
        angle =  omni_subset['angle'].mean()
        vt = omni_subset['sw_vt'].mean()
        result = {'date': timestamp, 'bx_avg': bx_avg, 'by_avg': by_avg, 'bz_avg': bz_avg, 'Dp': dp_avg, 'angle' : angle, 'vt' : vt}
        results.append(result)

In [87]:
results = pd.DataFrame(results)
results

,date,bx_avg,by_avg,bz_avg,Dp,angle,vt
0,1996-01-03 02:13:36,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1,1996-01-03 02:14:24,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
2,1996-01-03 11:46:11,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
3,1996-01-03 11:46:59,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
4,1996-01-03 13:02:48,4.385000,-1.360,1.380000,1.930850,3.087905,525.223400
...,...,...,...,...,...,...,...
5897,2015-12-24 17:36:35,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915
5898,2015-12-24 17:40:23,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165
5899,2015-12-29 23:53:24,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310
5900,2015-12-29 23:55:00,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120
5901,2015-12-29 23:55:47,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855

In [88]:
geo_tail = geo_tail.set_index('date')
geo_tail = geo_tail.join(results.set_index('date'))
geo_tail

,XGSE,YGSE,ZGSE,XGSM,YGSM,ZGSM,Vx,Vy,Vz,Bx,By,Bz,N,T,bx_avg,by_avg,bz_avg,Dp,angle,vt
date,,,,,,,,,,,,,,,,,,,,
1996-01-03 02:13:36,9.5089,2.8692,1.0609,9.5089,2.5432,1.7000,29.3986,74.4421,11.472,-2.3993,-15.6361,38.8683,10.9494,609.7466,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1996-01-03 02:14:24,9.5000,2.8924,1.0553,9.5000,2.5670,1.7000,42.5367,-55.5367,-194.0233,-5.4237,9.1019,61.7212,0.7203,2428.0703,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1996-01-03 11:46:11,1.2600,14.4207,-0.1784,1.2600,14.3372,-1.5600,-345.6333,284.1887,108.0779,3.5178,-1.9507,20.7269,3.8927,799.7855,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
1996-01-03 11:46:59,1.2473,14.4290,-0.1776,1.2473,14.3455,-1.5600,-207.9879,177.559,81.5831,-18.1244,16.1197,14.4713,3.0053,912.4281,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
1996-01-03 13:02:48,-0.1640,15.2297,-0.3006,-0.1640,15.1700,-1.3800,-11.1554,11.8979,53.4734,-11.0897,15.5402,14.9824,0.2045,7515.7397,4.385000,-1.360,1.380000,1.930850,3.087905,525.223400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-24 17:36:35,7.2400,-8.5454,3.2632,7.2400,-8.7700,2.6000,-318.6387,-104.2372,25.938,-0.7466,-2.6072,-20.9435,2.1888,269.9863,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915
2015-12-24 17:40:23,7.3200,-8.5140,3.2808,7.3200,-8.7400,2.6200,-143.0333,-57.722,50.4555,-2.1791,-24.6572,0.3432,15.3729,500.6686,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165
2015-12-29 23:53:24,8.5004,-8.1616,4.1344,8.5004,-8.9300,1.9900,-9.9549,5.0135,-18.991,-11.9824,-14.6573,39.0437,0.3010,907.0810,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310
2015-12-29 23:55:00,8.5400,-8.1470,4.1513,8.5400,-8.9200,2.0100,-9.966,5.0102,-18.9932,-10.1955,-18.3897,39.7947,0.3010,907.0386,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120
2015-12-29 23:55:47,8.5500,-8.1342,4.1607,8.5500,-8.9100,2.0223,-9.9715,5.0085,-18.9943,7.5379,22.2904,5.0904,0.3010,907.0175,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855

In [89]:
geo_tail.drop(columns=['Vx', 'Vy', 'Vz', 'Bx', 'By', 'Bz', 'N', 'T'], inplace=True)
geo_tail

,XGSE,YGSE,ZGSE,XGSM,YGSM,ZGSM,bx_avg,by_avg,bz_avg,Dp,angle,vt
date,,,,,,,,,,,,
1996-01-03 02:13:36,9.5089,2.8692,1.0609,9.5089,2.5432,1.7000,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1996-01-03 02:14:24,9.5000,2.8924,1.0553,9.5000,2.5670,1.7000,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1996-01-03 11:46:11,1.2600,14.4207,-0.1784,1.2600,14.3372,-1.5600,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
1996-01-03 11:46:59,1.2473,14.4290,-0.1776,1.2473,14.3455,-1.5600,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
1996-01-03 13:02:48,-0.1640,15.2297,-0.3006,-0.1640,15.1700,-1.3800,4.385000,-1.360,1.380000,1.930850,3.087905,525.223400
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-24 17:36:35,7.2400,-8.5454,3.2632,7.2400,-8.7700,2.6000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915
2015-12-24 17:40:23,7.3200,-8.5140,3.2808,7.3200,-8.7400,2.6200,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165
2015-12-29 23:53:24,8.5004,-8.1616,4.1344,8.5004,-8.9300,1.9900,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310
2015-12-29 23:55:00,8.5400,-8.1470,4.1513,8.5400,-8.9200,2.0100,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120
2015-12-29 23:55:47,8.5500,-8.1342,4.1607,8.5500,-8.9100,2.0223,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855

In [90]:
geo_tail.rename(columns={'bx_avg': 'Bx', 'by_avg' : 'By', 'bz_avg' : 'Bz', 'dp_avg' : 'Dp'}, inplace=True)
geo_tail

,XGSE,YGSE,ZGSE,XGSM,YGSM,ZGSM,Bx,By,Bz,Dp,angle,vt
date,,,,,,,,,,,,
1996-01-03 02:13:36,9.5089,2.8692,1.0609,9.5089,2.5432,1.7000,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1996-01-03 02:14:24,9.5000,2.8924,1.0553,9.5000,2.5670,1.7000,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1996-01-03 11:46:11,1.2600,14.4207,-0.1784,1.2600,14.3372,-1.5600,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
1996-01-03 11:46:59,1.2473,14.4290,-0.1776,1.2473,14.3455,-1.5600,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
1996-01-03 13:02:48,-0.1640,15.2297,-0.3006,-0.1640,15.1700,-1.3800,4.385000,-1.360,1.380000,1.930850,3.087905,525.223400
...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-24 17:36:35,7.2400,-8.5454,3.2632,7.2400,-8.7700,2.6000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915
2015-12-24 17:40:23,7.3200,-8.5140,3.2808,7.3200,-8.7400,2.6200,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165
2015-12-29 23:53:24,8.5004,-8.1616,4.1344,8.5004,-8.9300,1.9900,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310
2015-12-29 23:55:00,8.5400,-8.1470,4.1513,8.5400,-8.9200,2.0100,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120
2015-12-29 23:55:47,8.5500,-8.1342,4.1607,8.5500,-8.9100,2.0223,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855

In [91]:
geo_tail.to_csv('geotail_omni.csv', index=True)

In [92]:
# concatenate the geo_tail and themis
themis = pd.read_csv('themis_omni.csv')
themis.drop(['PROBE'], axis=1, inplace=True)
themis

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,Bx,By,Bz,Dp,angle,vt
0,2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,2.020,-1.250,1.325,1.541882,3.108656,292.014935
1,2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,2.435,0.925,0.735,1.684761,3.101008,293.478225
2,2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,3.570,1.725,0.555,1.636927,-3.096254,431.592890
3,2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,3.245,1.760,1.095,1.821343,-3.091749,432.740825
4,2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,-1.345,0.865,0.770,1.620260,-3.100665,432.654480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29035,2016-10-26 17:17:19,2.50993,-10.2511,-3.86383,2.50993,-10.9445,-0.481395,-2.640,0.295,-3.390,2.209831,3.106262,648.599650
29036,2016-10-27 15:22:10,1.43803,-10.9620,-4.32748,1.43803,-11.7830,0.231988,-0.370,1.470,-5.340,2.027462,-3.128242,587.728360
29037,2016-10-27 17:20:24,2.38412,-10.2573,-3.83891,2.38412,-10.9397,-0.521349,-5.120,2.115,0.530,1.292748,-3.130997,542.621475
29038,2016-10-27 15:22:44,1.44640,-10.9582,-4.32419,1.44640,-11.7784,0.225367,-0.370,1.470,-5.340,2.027462,-3.128242,587.728360
29039,2016-10-27 15:28:15,1.48819,-10.9387,-4.30752,1.48819,-11.7547,0.192192,-0.790,1.540,-5.240,1.934606,-3.125443,585.782255

In [93]:
geo_tail = pd.read_csv('geotail_omni.csv')
geo_tail.rename(columns={'XGSE':'X_GSE', 'YGSE' : 'Y_GSE', 'ZGSE' : 'Z_GSE', 'XGSM' : 'X_GSM'\
    , 'YGSM' : 'Y_GSM', 'ZGSM' : 'Z_GSM'}, inplace=True)
geo_tail

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,Bx,By,Bz,Dp,angle,vt
0,1996-01-03 02:13:36,9.5089,2.8692,1.0609,9.5089,2.5432,1.7000,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
1,1996-01-03 02:14:24,9.5000,2.8924,1.0553,9.5000,2.5670,1.7000,4.860000,-3.690,-1.630000,2.548423,-3.131648,479.745330
2,1996-01-03 11:46:11,1.2600,14.4207,-0.1784,1.2600,14.3372,-1.5600,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
3,1996-01-03 11:46:59,1.2473,14.4290,-0.1776,1.2473,14.3455,-1.5600,5.715000,-2.830,2.160000,1.130986,3.103504,515.566330
4,1996-01-03 13:02:48,-0.1640,15.2297,-0.3006,-0.1640,15.1700,-1.3800,4.385000,-1.360,1.380000,1.930850,3.087905,525.223400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5953,2015-12-24 17:36:35,7.2400,-8.5454,3.2632,7.2400,-8.7700,2.6000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915
5954,2015-12-24 17:40:23,7.3200,-8.5140,3.2808,7.3200,-8.7400,2.6200,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165
5955,2015-12-29 23:53:24,8.5004,-8.1616,4.1344,8.5004,-8.9300,1.9900,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310
5956,2015-12-29 23:55:00,8.5400,-8.1470,4.1513,8.5400,-8.9200,2.0100,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120
5957,2015-12-29 23:55:47,8.5500,-8.1342,4.1607,8.5500,-8.9100,2.0223,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855

In [94]:
# concatenate themis and geo_tail
themis_geo_tail = pd.concat([themis, geo_tail])
themis_geo_tail

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,Bx,By,Bz,Dp,angle,vt
0,2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,2.020000,-1.250,1.325000,1.541882,3.108656,292.014935
1,2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,2.435000,0.925,0.735000,1.684761,3.101008,293.478225
2,2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,3.570000,1.725,0.555000,1.636927,-3.096254,431.592890
3,2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,3.245000,1.760,1.095000,1.821343,-3.091749,432.740825
4,2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,-1.345000,0.865,0.770000,1.620260,-3.100665,432.654480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5953,2015-12-24 17:36:35,7.24000,-8.5454,3.26320,7.24000,-8.7700,2.600000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915
5954,2015-12-24 17:40:23,7.32000,-8.5140,3.28080,7.32000,-8.7400,2.620000,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165
5955,2015-12-29 23:53:24,8.50040,-8.1616,4.13440,8.50040,-8.9300,1.990000,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310
5956,2015-12-29 23:55:00,8.54000,-8.1470,4.15130,8.54000,-8.9200,2.010000,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120
5957,2015-12-29 23:55:47,8.55000,-8.1342,4.16070,8.55000,-8.9100,2.022300,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855

In [95]:
themis_geo_tail

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,Bx,By,Bz,Dp,angle,vt
0,2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,2.020000,-1.250,1.325000,1.541882,3.108656,292.014935
1,2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,2.435000,0.925,0.735000,1.684761,3.101008,293.478225
2,2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,3.570000,1.725,0.555000,1.636927,-3.096254,431.592890
3,2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,3.245000,1.760,1.095000,1.821343,-3.091749,432.740825
4,2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,-1.345000,0.865,0.770000,1.620260,-3.100665,432.654480
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5953,2015-12-24 17:36:35,7.24000,-8.5454,3.26320,7.24000,-8.7700,2.600000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915
5954,2015-12-24 17:40:23,7.32000,-8.5140,3.28080,7.32000,-8.7400,2.620000,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165
5955,2015-12-29 23:53:24,8.50040,-8.1616,4.13440,8.50040,-8.9300,1.990000,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310
5956,2015-12-29 23:55:00,8.54000,-8.1470,4.15130,8.54000,-8.9200,2.010000,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120
5957,2015-12-29 23:55:47,8.55000,-8.1342,4.16070,8.55000,-8.9100,2.022300,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855

In [96]:
themis_geo_tail['phi'] = np.arctan2(themis_geo_tail['Y_GSM'], themis_geo_tail['Z_GSM'])
themis_geo_tail

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,Bx,By,Bz,Dp,angle,vt,phi
0,2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,2.020000,-1.250,1.325000,1.541882,3.108656,292.014935,1.279053
1,2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,2.435000,0.925,0.735000,1.684761,3.101008,293.478225,1.287305
2,2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,3.570000,1.725,0.555000,1.636927,-3.096254,431.592890,1.625713
3,2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,3.245000,1.760,1.095000,1.821343,-3.091749,432.740825,1.621919
4,2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,-1.345000,0.865,0.770000,1.620260,-3.100665,432.654480,1.526306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5953,2015-12-24 17:36:35,7.24000,-8.5454,3.26320,7.24000,-8.7700,2.600000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915,-1.282586
5954,2015-12-24 17:40:23,7.32000,-8.5140,3.28080,7.32000,-8.7400,2.620000,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165,-1.279549
5955,2015-12-29 23:53:24,8.50040,-8.1616,4.13440,8.50040,-8.9300,1.990000,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310,-1.351535
5956,2015-12-29 23:55:00,8.54000,-8.1470,4.15130,8.54000,-8.9200,2.010000,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120,-1.349162
5957,2015-12-29 23:55:47,8.55000,-8.1342,4.16070,8.55000,-8.9100,2.022300,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855,-1.347608

In [97]:
themis_geo_tail['X_GSM_r'] = themis_geo_tail['X_GSE']
themis_geo_tail['Y_GSM_r'] = -(themis_geo_tail['Y_GSE']*(np.cos(themis_geo_tail['angle'])) + \
    themis_geo_tail['Z_GSE']*np.sin((themis_geo_tail['angle'])))
themis_geo_tail['Z_GSM_r'] = -themis_geo_tail['Y_GSE']*np.sin(themis_geo_tail['angle'])*np.sin(themis_geo_tail['phi']) + \
    themis_geo_tail['Z_GSE']*np.cos(themis_geo_tail['angle']) - themis_geo_tail['Y_GSE']*np.sin(themis_geo_tail['angle'])*np.cos(themis_geo_tail['phi'])
    
themis_geo_tail

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,Bx,By,Bz,Dp,angle,vt,phi,X_GSM_r,Y_GSM_r,Z_GSM_r
0,2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,2.020000,-1.250,1.325000,1.541882,3.108656,292.014935,1.279053,2.04513,14.148948,2.828270
1,2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,2.435000,0.925,0.735000,1.684761,3.101008,293.478225,1.287305,3.07664,13.420758,2.520253
2,2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,3.570000,1.725,0.555000,1.636927,-3.096254,431.592890,1.625713,3.25282,13.359627,3.881805
3,2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,3.245000,1.760,1.095000,1.821343,-3.091749,432.740825,1.621919,3.18863,13.395745,3.958515
4,2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,-1.345000,0.865,0.770000,1.620260,-3.100665,432.654480,1.526306,2.11343,13.954823,4.071508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5953,2015-12-24 17:36:35,7.24000,-8.5454,3.26320,7.24000,-8.7700,2.600000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915,-1.282586,7.24000,-8.457936,-3.112683
5954,2015-12-24 17:40:23,7.32000,-8.5140,3.28080,7.32000,-8.7400,2.620000,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165,-1.279549,7.32000,-8.360967,-3.025661
5955,2015-12-29 23:53:24,8.50040,-8.1616,4.13440,8.50040,-8.9300,1.990000,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310,-1.351535,8.50040,-8.115725,-4.066192
5956,2015-12-29 23:55:00,8.54000,-8.1470,4.15130,8.54000,-8.9200,2.010000,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120,-1.349162,8.54000,-8.110883,-4.098030
5957,2015-12-29 23:55:47,8.55000,-8.1342,4.16070,8.55000,-8.9100,2.022300,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855,-1.347608,8.55000,-8.114795,-4.132185

In [98]:
# reset index
themis_geo_tail.reset_index(inplace=True)
themis_geo_tail.drop(columns=['index'], inplace=True)
themis_geo_tail

,date,X_GSE,Y_GSE,Z_GSE,X_GSM,Y_GSM,Z_GSM,Bx,By,Bz,Dp,angle,vt,phi,X_GSM_r,Y_GSM_r,Z_GSM_r
0,2007-04-21 23:35:24,2.04513,14.0444,-3.40609,2.04513,13.8409,4.156600,2.020000,-1.250,1.325000,1.541882,3.108656,292.014935,1.279053,2.04513,14.148948,2.828270
1,2007-04-21 21:01:06,3.07664,13.3022,-3.19202,3.07664,13.1338,3.826370,2.435000,0.925,0.735000,1.684761,3.101008,293.478225,1.287305,3.07664,13.420758,2.520253
2,2007-04-24 12:48:05,3.25282,13.5234,-3.30685,3.25282,13.9009,-0.764158,3.570000,1.725,0.555000,1.636927,-3.096254,431.592890,1.625713,3.25282,13.359627,3.881805
3,2007-04-24 12:58:20,3.18863,13.5781,-3.32159,3.18863,13.9602,-0.714307,3.245000,1.760,1.095000,1.821343,-3.091749,432.740825,1.621919,3.18863,13.395745,3.958515
4,2007-04-24 15:34:45,2.11343,14.1087,-3.47204,2.11343,14.5153,0.646223,-1.345000,0.865,0.770000,1.620260,-3.100665,432.654480,1.526306,2.11343,13.954823,4.071508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34993,2015-12-24 17:36:35,7.24000,-8.5454,3.26320,7.24000,-8.7700,2.600000,6.150000,-4.535,-0.650000,2.419949,-3.115667,492.402915,-1.282586,7.24000,-8.457936,-3.112683
34994,2015-12-24 17:40:23,7.32000,-8.5140,3.28080,7.32000,-8.7400,2.620000,4.340000,-6.375,-1.975000,2.376666,-3.097460,499.544165,-1.279549,7.32000,-8.360967,-3.025661
34995,2015-12-29 23:53:24,8.50040,-8.1616,4.13440,8.50040,-8.9300,1.990000,-4.040000,2.535,0.440000,1.379989,-3.130615,376.878310,-1.351535,8.50040,-8.115725,-4.066192
34996,2015-12-29 23:55:00,8.54000,-8.1470,4.15130,8.54000,-8.9200,2.010000,-4.116667,2.430,0.436667,1.380572,-3.132965,376.836120,-1.349162,8.54000,-8.110883,-4.098030
34997,2015-12-29 23:55:47,8.55000,-8.1342,4.16070,8.55000,-8.9100,2.022300,-4.200000,2.335,0.405000,1.397073,-3.136950,376.108855,-1.347608,8.55000,-8.114795,-4.132185

In [101]:
# save to csv
themis_geo_tail.to_csv('themis_geotail_omni_raw.csv', index=True)

In [102]:
themis_geo_tail.drop(columns=['X_GSE', 'Y_GSE', 'Z_GSE', 'X_GSM', 'Y_GSM', 'Z_GSM', 'Bx', 'By', 'angle', 'vt', 'phi'], inplace=True)
themis_geo_tail

                      date        Bz        Dp  X_GSM_r    Y_GSM_r   Z_GSM_r
0      2007-04-21 23:35:24  1.325000  1.541882  2.04513  14.148948  2.828270
1      2007-04-21 21:01:06  0.735000  1.684761  3.07664  13.420758  2.520253
2      2007-04-24 12:48:05  0.555000  1.636927  3.25282  13.359627  3.881805
3      2007-04-24 12:58:20  1.095000  1.821343  3.18863  13.395745  3.958515
4      2007-04-24 15:34:45  0.770000  1.620260  2.11343  13.954823  4.071508
...                    ...       ...       ...      ...        ...       ...
34993  2015-12-24 17:36:35 -0.650000  2.419949  7.24000  -8.457936 -3.112683
34994  2015-12-24 17:40:23 -1.975000  2.376666  7.32000  -8.360967 -3.025661
34995  2015-12-29 23:53:24  0.440000  1.379989  8.50040  -8.115725 -4.066192
34996  2015-12-29 23:55:00  0.436667  1.380572  8.54000  -8.110883 -4.098030
34997  2015-12-29 23:55:47  0.405000  1.397073  8.55000  -8.114795 -4.132185

[34998 rows x 6 columns]

In [103]:
data = themis_geo_tail

In [104]:
data['R'] = (data['Y_GSM_r']**2 + data['Z_GSM_r']**2)**0.5  # R = sqrt(Y^2 + Z^2)
data['r'] = (data['X_GSM_r']**2 + data['Y_GSM_r']**2 + data['Z_GSM_r']**2)**0.5  # r = sqrt(X^2 + Y^2 + Z^2)
data['theta'] = np.arctan2(data['Y_GSM_r'], data['X_GSM_r'])
data

,date,Bz,Dp,X_GSM_r,Y_GSM_r,Z_GSM_r,R,r,theta
0,2007-04-21 23:35:24,1.325000,1.541882,2.04513,14.148948,2.828270,14.428854,14.573071,1.427248
1,2007-04-21 21:01:06,0.735000,1.684761,3.07664,13.420758,2.520253,13.655344,13.997647,1.345445
2,2007-04-24 12:48:05,0.555000,1.636927,3.25282,13.359627,3.881805,13.912155,14.287368,1.331962
3,2007-04-24 12:58:20,1.095000,1.821343,3.18863,13.395745,3.958515,13.968386,14.327707,1.337112
4,2007-04-24 15:34:45,0.770000,1.620260,2.11343,13.954823,4.071508,14.536652,14.689481,1.420491
...,...,...,...,...,...,...,...,...,...
34993,2015-12-24 17:36:35,-0.650000,2.419949,7.24000,-8.457936,-3.112683,9.012518,11.560410,-0.862829
34994,2015-12-24 17:40:23,-1.975000,2.376666,7.32000,-8.360967,-3.025661,8.891591,11.517065,-0.851685
34995,2015-12-29 23:53:24,0.440000,1.379989,8.50040,-8.115725,-4.066192,9.077384,12.436065,-0.762252
34996,2015-12-29 23:55:00,0.436667,1.380572,8.54000,-8.110883,-4.098030,9.087369,12.470440,-0.759632
34997,2015-12-29 23:55:47,0.405000,1.397073,8.55000,-8.114795,-4.132185,9.106308,12.491091,-0.759289

In [105]:
data.to_csv('training_data.csv', index=False)